h1 {
  color: red;
  font-size: 200 px;
}
h2 {
  font-family: italic;
}
img {
  float: left;
}
p {
  font-family: sans-serif;
}
ul {
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
}
body {
  text-align: center;
  background-color: pink;
}